@page "/gamecomponent"
@using Flurl.Http
@using Microsoft.AspNetCore.SignalR.Client
@using NLWestStandings.Client.Classes
@using NLWestStandings.Client.Classes.Calendar
@using NLWestStandings.Client.Classes.LineScore
@using NLWestStandings.Client.Classes.PlayByPlay
@using NLWestStandings.MLB
@using System.Globalization
@using System.Net.WebSockets
@using Websocket.Client
@rendermode InteractiveWebAssembly
@inject NavigationManager NavigationManager
@implements IAsyncDisposable;

<MudPopoverProvider />

<style>
    .table {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .table_cell {
        display: table-cell;
        width: 5%;
        border: solid black 1px;
        text-align: center;
    }
</style>


<PageTitle>Line Score</PageTitle>

@if (playByPlay != null)
{
    <MudText Class="m-auto" Typo="Typo.h3">@gamename - @playByPlay.gameData.datetime.officialDate.ToString()</MudText>

    @if (playByPlay.liveData.plays.currentPlay is not null)
    {
        <MudText Class="m-auto" Typo="Typo.h5">Current: @myTI.ToTitleCase(playByPlay.liveData.plays.currentPlay.about.halfInning) @playByPlay.liveData.plays.currentPlay.about.inning</MudText>
    }
    else
    {
        <MudText Class="m-auto" Typo="Typo.h5">N/A</MudText>
    }

    @if (playByPlay.gameData.probablePitchers.home is not null && playByPlay.gameData.probablePitchers.away is not null)
    {
        <MudText Class="m-auto" Typo="Typo.h5"><MudImage Class="rounded-lg" Height="25" Width="25" Src="@logos.sports[0].leagues[0].teams.First(e => e.team.displayName == hometeam).team.logos[0].href"></MudImage> @playByPlay.gameData.probablePitchers.home.fullName vs. <MudImage Class="rounded-lg" Height="25" Width="25" Src="@logos.sports[0].leagues[0].teams.First(e => e.team.displayName == awayteam).team.logos[0].href"></MudImage> @playByPlay.gameData.probablePitchers.away.fullName</MudText>
    }
    else
    {
        <MudText Class="m-auto" Typo="Typo.h5">N/A</MudText>
    }

    @if (playByPlay.gameData.weather is not null)
    {
        <MudText Class="m-auto" Typo="Typo.h5">@playByPlay.gameData.weather.temp °F, @playByPlay.gameData.weather.condition, @playByPlay.gameData.weather.wind</MudText>

    }
    else
    {
        <MudText Class="m-auto" Typo="Typo.h5">N/A</MudText>
    }


    <table>
        <th class="table_cell">Inning</th>
        @foreach (var inning in @playByPlay.liveData.linescore.innings.OrderBy(e => e.num))
        {
            <th class="table_cell">@inning.num</th>
        }
        <th class="table_cell">Runs</th>
        <th class="table_cell">Hits</th>
        <th class="table_cell">Errors</th>
        <th class="table_cell">LoB</th>
        <tr>
            <td class="table_cell"><MudImage Class="rounded-lg" Height="25" Width="25" Src="@logos.sports[0].leagues[0].teams.First(e => e.team.displayName == awayteam).team.logos[0].href"></MudImage> </td>
            @foreach (var inning in @playByPlay.liveData.linescore.innings.OrderBy(e => e.num))
            {
                <td class="table_cell">@inning.away.runs</td>
            }
            <td class="table_cell">@playByPlay.liveData.linescore.teams.away.runs</td>
            <td class="table_cell">@playByPlay.liveData.linescore.teams.away.hits</td>
            <td class="table_cell">@playByPlay.liveData.linescore.teams.away.errors</td>
            <td class="table_cell">@playByPlay.liveData.linescore.teams.away.leftOnBase</td>
        </tr>
        <tr>
            <td class="table_cell"><MudImage Class="rounded-lg" Height="25" Width="25" Src="@logos.sports[0].leagues[0].teams.First(e => e.team.displayName == hometeam).team.logos[0].href"></MudImage> </td>
            @foreach (var inning in @playByPlay.liveData.linescore.innings.OrderBy(e => e.num))
            {
                <td class="table_cell">@inning.home.runs</td>
            }
            <td class="table_cell">@playByPlay.liveData.linescore.teams.home.runs</td>
            <td class="table_cell">@playByPlay.liveData.linescore.teams.home.hits</td>
            <td class="table_cell">@playByPlay.liveData.linescore.teams.home.errors</td>
            <td class="table_cell">@playByPlay.liveData.linescore.teams.home.leftOnBase</td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <MudText Typo="Typo.h5">Game Feed</MudText>
    <MudDivider DividerType="DividerType.FullWidth"></MudDivider>
    <MudTable Virtualize="true" Items="@playByPlay.liveData.plays.allPlays.OrderByDescending(e=>e.about.startTime)" Hover="true" Breakpoint="Breakpoint.Sm">
        <HeaderContent>
            <MudTh>Inning</MudTh>
            <MudTh>Pitcher</MudTh>
            <MudTh>Batter</MudTh>
            <MudTh>Count</MudTh>
            <MudTh>Result</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Inning">
                <div class="d-flex">
                    @if (context.about.halfInning == "top")
                    {
                        <MudIcon Icon="@Icons.Material.Filled.ArrowDropUp"></MudIcon>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown"></MudIcon>
                    }

                    @context.about.inning
                </div>

            </MudTd>

            @if (context.about.halfInning == "top")
            {
                <MudTd Class="align-content-center" Style="min-width:250px;">
                    <MudImage Class="rounded-lg" Height="25" Width="25" Src="@logos.sports[0].leagues[0].teams.First(e => e.team.displayName == hometeam).team.logos[0].href"></MudImage>

                    @context.matchup.pitcher.fullName
                </MudTd>
            }
            else
            {
                <MudTd Class="align-content-center" Style="min-width:250px;">
                    <MudImage Class="rounded-lg" Height="25" Width="25" Src="@logos.sports[0].leagues[0].teams.First(e => e.team.displayName == awayteam).team.logos[0].href"></MudImage>

                    @context.matchup.pitcher.fullName
                </MudTd>
            }

            @if (context.about.halfInning == "top")
            {
                <MudTd Class="align-content-center" Style="min-width:250px;">
                    <MudImage Class="rounded-lg" Height="25" Width="25" Src="@logos.sports[0].leagues[0].teams.First(e => e.team.displayName == awayteam).team.logos[0].href"></MudImage>

                    @context.matchup.batter.fullName
                </MudTd>
            }
            else
            {
                <MudTd Class="align-content-center" Style="min-width:250px;">
                    <MudImage Class="rounded-lg" Height="25" Width="25" Src="@logos.sports[0].leagues[0].teams.First(e => e.team.displayName == hometeam).team.logos[0].href"></MudImage>

                    @context.matchup.batter.fullName
                </MudTd>
            }

            <MudTd Style="min-width:100px;" DataLabel="Count">@context.count.balls - @context.count.strikes <br /> @($"{context.count.outs} Out(s)")</MudTd>
            <MudTd DataLabel="Result">@context.result.description</MudTd>
        </RowTemplate>
    </MudTable>
}
else
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}

@code {
    private HubConnection hubConnection;

    [Parameter]
    [SupplyParameterFromQuery(Name = "gamepk")]
    public string gamepk { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name = "hometeam")]
    public string hometeam { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name = "awayteam")]
    public string awayteam { get; set; }

    private TextInfo myTI = new CultureInfo("en-US", false).TextInfo;

    private PlayByPlay? playByPlay { get; set; } = null;

    private string gamename { get; set; }

    private WebsocketClient? _client { get; set; }

    private string _message = "Gameday5";

    private Logos logos { get; set; } = new Logos();

    protected override async Task OnInitializedAsync()
    {
        gamename = $"{awayteam} @ {hometeam}";

        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/broadcaststandings"))
            .Build();

        await hubConnection.StartAsync();

        logos = System.Text.Json.JsonSerializer.Deserialize<Logos>(await hubConnection.InvokeAsync<string>("GetLogos", hubConnection.ConnectionId));

        await GetPlayByPlay();

        if (playByPlay?.gameData.status.abstractGameCode == "L")
        {
            var url = new Uri($"wss://ws.statsapi.mlb.com/api/v1/game/push/subscribe/gameday/{gamepk}");
            _client = new WebsocketClient(url);

            _client.Name = "MLB Gameday";
            _client.ReconnectTimeout = TimeSpan.FromSeconds(60);
            _client.ErrorReconnectTimeout = TimeSpan.FromSeconds(30);
            _client.ReconnectionHappened.Subscribe(info =>
            {
                Console.WriteLine($"Reconnection happened, type: {info.Type}, url: {_client.Url}");
                _client.Send(_message);
                // Log($"Reconnected, type: '{info.Type}'", LogSeverity.Warning);
                // StateHasChanged();
            });
            _client.DisconnectionHappened.Subscribe(info =>
            {
                // Console.WriteLine($"Disconnection happened, type: {info.Type}");
                // Log($"Disconnected, type: '{info.Type}', reason: '{info.CloseStatus}'", LogSeverity.Warning);
                // StateHasChanged();
            });

            _client.MessageReceived.Subscribe(async msg =>
            {
                Console.WriteLine($"Live update received");

                var jsonplay = System.Text.Json.JsonSerializer.Deserialize<PbPPushNotification>(msg.Text ?? "");

                await GetPlayByPlay(jsonplay.updateId);

                // Log($"Received: '{msg.Text}'", LogSeverity.Info);
                await InvokeAsync(StateHasChanged);
            });

            await _client.Start();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_client == null)
            return;

        await _client.Stop(WebSocketCloseStatus.NormalClosure, string.Empty);
        _client.Dispose();
    }

    private async Task GetPlayByPlay()
    {
        try
        {
            playByPlay = await $"https://statsapi.mlb.com/api/v1.1/game/{gamepk}/feed/live"
        .GetJsonAsync<PlayByPlay>();

            await InvokeAsync(StateHasChanged);

        }
        catch (Exception)
        {
            var t = "";
        }

    }

    private async Task GetPlayByPlay(string updateID)
    {
        try
        {
            playByPlay = await $"https://ws.statsapi.mlb.com/api/v1.1/game/{gamepk}/feed/live?language=en&pushUpdateId={updateID}"
        .GetJsonAsync<PlayByPlay>();

            await InvokeAsync(StateHasChanged);

        }
        catch (Exception)
        {
            var t = "";
        }

    }
}
